# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used libraries in Data Science  
- Create and format tables using Markdown  
- Perform basic arithmetic operations using Python  
- Share Jupyter Notebooks through GitHub

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Scala  
5. Java  
6. C++  
7. Julia  
8. JavaScript  
9. PHP  
10. Go  
11. Ruby  
12. Visual Basic

Some of the commonly used libraries used by Data Scientists include:

1. Pandas  
2. NumPy  
3. Matplotlib  
4. Seaborn  
5. Scikit-learn  
6. Keras  
7. TensorFlow  
8. PyTorch  
9. Apache Spark  
10. Vegas  
11. Big DL  
12. Ggplot2

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |
| Spyder                   |
| KNIME                    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author

Dravide Suyambu Raj J